<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registo - FilmoTokio</title>
</head>
<body>
<h1>Criar Conta</h1>
<p th:if="${erro}" th:text="${erro}" style="color:red;"></p>
<form th:action="@{/registo}" th:object="${user}" method="post">
    <label>Username: <input type="text" th:field="*{username}"/></label><br/>
    <label>Password: <input type="password" th:field="*{password}"/></label><br/>
    <label>Nome: <input type="text" th:field="*{name}"/></label><br/>
    <label>Apelido: <input type="text" th:field="*{surname}"/></label><br/>
    <label>Email: <input type="email" th:field="*{email}"/></label><br/>
    <button type="submit">Registar</button>
</form>
<a th:href="@{/login}">Já tenho conta</a>
</body>
</html>